{
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "printWidth": 90,
  "tabWidth": 2,
  "plugins": [
    "prettier-plugin-jinja-template",
    "prettier-plugin-organize-attributes",
    "prettier-plugin-css-order",
    "prettier-plugin-tailwindcss"
  ],
  "overrides": [
    {
      "files": ["./_includes/*.njk", "./_includes/layouts/*.njk", "./content/*.njk"],
      "options": {
        "parser": "jinja-template"
      }
    }
  ]
}
