---js
const eleventyNavigation = {
	key: "Archive",
	order: 2
};
---

<div class="mx-auto w-full max-w-4xl p-8">
  <h1 class="bg-rainbow mb-12 w-fit bg-clip-text text-5xl font-black text-transparent">
    The Archive
  </h1>

  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>
