---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};

const numberOfLatestPostsToShow = 6;
---
{% set postsCount = collections.posts | length %}
<h1>Latest Posts</h1>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

      <a
        class="font-bold text-2xl text-blue-500 dark:text-blue-400 hover:underline"
        href="blog.njk"
        >See all posts →</a
      >

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
