---js
// <script>
const pagination = {
	data: "collections",
	size: 1,
	alias: "tag",
	filter: ["all", "posts"],
	// addAllPagesToCollections: true,
};

const eleventyExcludeFromCollections = true;

const eleventyComputed = {
	title: "Tagged '{{ tag }}'",
	permalink: function(data) {
		return `/tags/${this.slugify(data.tag)}/`;
	}
};
---

<div class="mx-auto w-full p-4 max-w-4xl">
  <h1
    class="text-5xl font-black mb-12 tracking-tighter bg-clip-text text-transparent bg-rainbow w-fit    "
  >
    Tagged
    <em>"{{ tag }}"</em>
  </h1>

  {% set postslist = collections[ tag ] %}
  {% include "postslist.njk" %}

  <p>See <a href="tags.njk">all tags</a>.</p>
</div>
