<ol
  class="mb-12 grid grid-cols-[repeat(auto-fit,minmax(min(100%,theme(spacing.80)),1fr))] grid-rows-[repeat(,auto)] gap-8"
  reversed
>
  {%- for post in postslist | reverse %}
    <li
      class="group/card relative row-span-4 grid grid-rows-subgrid gap-0 rounded-md bg-gray-200 p-6 shadow-md hover:bg-gray-50 has-focus:bg-gray-50 has-focus:after:block dark:bg-gray-900 hover:dark:bg-gray-700 has-focus:dark:bg-gray-700"
    >
      <div
        class="animate-bgRotate bg-rainbowConic absolute inset-0 -z-10 hidden size-[calc(100%+var(--border-size))] -translate-[calc(var(--border-size)/2)] rounded-xl [--border-size:calc(var(--spacing)*4)] group-hover/card:block group-focus/card:block"
      ></div>
      <h2 class="mb-6">
        <a
          class="hover:bg-rainbow block text-4xl font-black hover:bg-clip-text hover:text-transparent"
          href="{{ post.url }}"
          >{{ post.data.title }}</a
        >
      </h2>
      <p class="mb-4 text-sm">
        <time datetime="{{ post.date | htmlDateString }}"
          >{{ post.date | readableDate("LLLL yyyy") }}</time
        >
      </p>
      <p class="mb-8 text-lg leading-relaxed">{{ post.data.description }}</p>
      <ul class="flex h-fit flex-wrap gap-4">
        {% for tag in post.data.tags %}
          {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
          {%- if tag !== "posts" %}
            <li
              class="rounded-md bg-gray-300 px-4 py-2 font-bold group-hover/card:bg-gray-200 group-has-focus/card:bg-gray-200 hover:bg-gray-300 dark:bg-gray-800 group-hover/card:dark:bg-gray-600 group-has-focus/card:dark:bg-gray-600 hover:dark:bg-gray-800"
            >
              <a href="/tags/{{ tag | slugify }}"> {{ tag }}</a>
            </li>
          {%- endif %}
        {% endfor %}
      </ul>
    </li>
  {%- endfor %}
</ol>
