---
layout: layouts/base.njk
---

<article class="prose dark:prose-invert mx-auto p-8">
  <header>
    <h1>{{ title }}</h1>
    <ul class="not-prose flex flex-wrap gap-4">
      <li
        class="hover:bg-gray-300 rounded-md  bg-gray-200 px-4 py-2 text-sm font-bold dark:bg-gray-900"
      >
        <time datetime="{{ page.date | htmlDateString }}"
          >{{ page.date | readableDate }}</time
        >
      </li>
      {%- for tag in tags | filterTagList %}
        {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
        <li
          class="hover:bg-gray-300 rounded-md bg-gray-200 px-4 py-2 text-sm font-bold dark:bg-gray-900"
        >
          <a href="{{ tagUrl }}">{{ tag }}</a>{%- if not loop.last %}{% endif %}
        </li>
      {%- endfor %}
    </ul>
    <p>{{ description or metadata.description }}</p>
  </header>
  {{ content | safe }}
  <hr class="not-prose mt-24 mb-8 border-dashed border-gray-400 border-t-2">
  <a href="#" class="not-prose mx-auto px-4 py-2 bg-gray-200 hover:bg-gray-300  dark:bg-gray-900 hover:dark:bg-gray-700  rounded-md text-sm font-bold block w-fit">Back to top</a>
</article>

<nav aria-label="post">
  {%- if collections.posts %}
    {%- set previousPost = collections.posts | getPreviousCollectionItem %}
    {%- set nextPost = collections.posts | getNextCollectionItem %}
    {%- if nextPost or previousPost %}
      <ul class="mt-24 bg-gray-50 dark:bg-gray-700" role="list">
        <div class="mx-auto grid max-w-5xl grid-cols-2 grid-rows-1 gap-8 p-8">
          {%- if previousPost %}
            <li class="[grid-column-start:1] text-lg">
              <span class="block">Previous:</span>
              <a
                class="text-blue-400 after:bg-rainbow relative  font-bold  bg-clip-text hover:bg-rainbow hover:text-transparent after:absolute after:-bottom-2 after:left-0 after:h-1 after:w-full after:scale-x-0 after:transition hover:after:scale-x-100"
                href="{{ nextPost.url }}"
                >{{ previousPost.data.title }}</a
              >
            </li>
          {% endif %}
          {%- if nextPost %}
            <li class="[grid-column-start:2] text-right text-lg">
              <span class="block">Next: </span>
              <a
                class="text-blue-400 after:bg-rainbow relative  font-bold  bg-clip-text hover:bg-rainbow hover:text-transparent after:absolute after:-bottom-2 after:left-0 after:h-1 after:w-full after:scale-x-0 after:transition hover:after:scale-x-100"
                href="{{ nextPost.url }}"
                >{{ nextPost.data.title }}</a
              >
            </li>
          {% endif %}
        </div>
      </ul>
    {%- endif %}
  {%- endif %}
</nav>
